<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="background-color: yellow;">Hello  </h1>
   <%if(u.length>0){%>

         <%for(let a of u){%>
            <li>
                <%=a%>
            </li>    
            
            <%}%>

    <%}else{%>
        <h3>No Data Found..</h3>
        <%}%>
    
</body>
</html>